.card {
  flex: 1;
  min-width: 200px;
  max-width: 200px;

  .content {
    min-height: 100px;
  }
}


.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px;
}